<!DOCTYPE html>
<html>
<head>
  <title>Feedlists</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/nav' %>

  <div class="container">
    <h1>Feedlists</h1>
    <%= yield %>
  </div>

</body>
</html>
